.accounts {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1161px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.finance__accounts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
