.sidebar {
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f4f5f7;
}
.sidebar__company {
  margin-top: 39px;
  font-size: 30pt;
  font-weight: Bold;
  letter-spacing: 0.04em;
  line-height: 54pt;
  color: #2e2e2e;
  text-align: center;
  width: 100%;
}
.sidebar__ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 47px;
  margin-left: 33px;
}
.sidebar__li {
  list-style: none;
}
.sidebar__link {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  font-size: 17pt;
  letter-spacing: 0.04em;
  line-height: 48pt;
  font-weight: 400;
  color: #2e2e2e;
}

@media (min-width: 1600px) {
  .sidebar {
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f4f5f7;
  }
  .sidebar__company {
    margin-top: 39px;
    font-size: 30pt;
    font-weight: Bold;
    letter-spacing: 0.04em;
    line-height: 54pt;
    color: #2e2e2e;
    text-align: center;
    width: 100%;
  }
  .sidebar__ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 47px;
    margin-left: 33px;
  }
  .sidebar__li {
    list-style: none;
  }
  .sidebar__link {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    font-size: 17pt;
    letter-spacing: 0.04em;
    line-height: 48pt;
    font-weight: 400;
    color: #2e2e2e;
  }
}
@media (max-width: 1599px) {
  .sidebar__company {
    font-size: 25pt;
  }
  .sidebar__link {
    margin-left: 0;
  }
}
@media (max-width: 1280px) {
  .sidebar__company {
    font-size: 20pt;
  }
  .sidebar__link {
    font-size: 12pt;
  }
}
@media (max-width: 1024px) {
  .laoyout {
    grid-template-columns: 20% 75%;
  }
}
